In [1]:
import pandas as pd
df = pd.read_csv("../data_set.csv")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

In [13]:
df.columns

Index(['Transaction ID', 'Date', 'Customer ID', 'Gender', 'Age',
       'Product Category', 'Quantity', 'Price per Unit', 'Total Amount'],
      dtype='object')

In [ ]:
df["Age"] #works, gives the Age column
type(df["Gender"])

In [ ]:
df[55] #don't work, as it can't give 55th row directly, instead it would start looking for column named 55, but...
df[55:89] #works, when slicing used, it gives entire rows! so you can kinda take whatever entire row using>>
df[44:45] #this will only give 44th row..

In [ ]:
print(df[["Age"]])#  #works, but when a list is passed, it makes a new data-frame of the given columns, and more columns could be passed too..as 
len(df[["Age","Gender"]])#

In [45]:
print(type(df["Gender"]))
print(type(df["Gender"][8]))
df["Gender"][4]

<class 'pandas.core.series.Series'>
<class 'str'>

'Male'

In [ ]:
df.iloc(0)
type(df.iloc(0))

pandas.core.indexing._iLocIndexer

In [38]:
df.iloc(1).__dict__["axis"]
list(df.iloc[0])
df.iloc[0]["Gender"]

'Male'

In [ ]:
obj = df["Gender"] == "Male"
df[obj][55:66]
df[55:66][obj]

In [61]:
print(len(df[(df["Gender"] == "Female") & (df["Age"]<20)]))

24

In [80]:
newdf = df[ (df["Transaction ID"] == 53) & (df["Product Category"] == "Electronics")]["Age"] = 88
#it was only changed in the copy of the data frame..
print(newdf)

88

C:\Users\divya\AppData\Local\Temp\ipykernel_19444\967914431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf = df[ (df["Transaction ID"] == 53) & (df["Product Category"] == "Electronics")]["Age"] = 88

In [85]:
df.groupby("Age")["Total Amount"].sum().sort_values()

Age
39     4595
49     5110
24     5415
32     5550
41     5650
33     6240
45     6325
29     6570
61     6730
52     7040
48     7240
58     7395
44     7560
62     8120
23     8220
42     8500
20     8645
28     8670
36     9105
64     9125
63     9250
57     9290
27     9385
40     9415
56     9440
59     9470
53     9510
55     9780
30     9790
50     9845
25     9900
31    10220
54    10505
38    11100
18    11215
35    11290
60    11590
37    11650
47    12505
21    12585
46    13090
22    13700
26    13980
19    14870
51    16065
34    16785
43    17970
Name: Total Amount, dtype: int64